footer{
    margin-top: 50px;
    background-color: var(--main-bg-color);
}
.footer-container {
    display: flex;
    margin-left: 20px;
}
footer li{
    list-style-type: none;
    padding-left: 0;
}
footer ul{
    width: 450px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title-list{
    font-weight: bold;
}